<section class="hero is-white is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <app-navbar></app-navbar>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <router-outlet></router-outlet>
    </div>
    
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a routerLink='/videos'>Videos</a></li>
          <li><a routerLink='/profile'>Profile</a></li>
          <li><a routerLink='/about'>About</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>